---
import Badge from "../components/badge.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title = 'home'>
<main>
	<section class="w-full lg:w-[740px] mx-auto py-40">
		<h1 class="text-white text-5xl fond-bold justify-center flex-row">Soy Bnjmn 
		
			<Badge> Disponble para todoo </Badge> 
		
		</h1>
		<h2>
			asd
		</h2>
		<ul>

		</ul>
	</section>
</main>
</Layout>

<style>

</style>
